<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "User Manager", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Lista",    '#' %></li>
          <li><%= link_to "Nowy użytkownik",    '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>